<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Form</title>
  </head>
  <body>
    <div class="form-container">
      <form
        action="/admin/documentTC/<% if(edit){%><%= documentTC.id%>?_method=PUT<%}%>"
        method="POST"
      >
        <h2>Классификатор ТС:</h2>
        <label for="shortName">Сокр_Тематика</label>
        <input
          type="text"
          id="shortName"
          name="shortName"
          placeholder="Сокр_Тематика..."
          value="<% if(edit){%><%= documentTC.shortName %><%}%>"
        />

        <label for="longNname">Категория_Тематики</label>
        <input
          type="text"
          id="longNname"
          name="longName"
          placeholder="Категория_Тематики..."
          value="<% if(edit){%><%= documentTC.longName %><%}%>"
        />
        <input type="submit" value="Создайте" class="green" />
      </form>
    </div>
  </body>
</html>
